## Observations and Insights

## Dependencies and starter code

In [1]:
#interactive notebook
%matplotlib notebook

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata = "data/Mouse_metadata.csv"
study_results = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata)
study_results = pd.read_csv(study_results)

# Combine the data into a single dataset
mouse_data = pd.merge(mouse_metadata, study_results, on="Mouse ID", how="outer")
mouse_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

## Summary statistics

In [21]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
drug_regimen=df = mouse_data.groupby('Drug Regimen')
mean_volume=drug_regimen['Tumor Volume (mm3)'].mean()
median_volume=drug_regimen['Tumor Volume (mm3)'].median()
var_volume=drug_regimen['Tumor Volume (mm3)'].var()
std_volume=drug_regimen['Tumor Volume (mm3)'].std()
sem_volume=drug_regimen['Tumor Volume (mm3)'].sem()
summary_statistics=df=pd.DataFrame(
{
    'Mean':mean_volume,
    'Median':median_volume,
    'Variance':var_volume,
    'Standard Deviation':std_volume,
    'SEM':sem_volume
}
)
summary_statistics['Mean']=summary_statistics['Mean'].map("{:.2f}".format)
summary_statistics['Median']=summary_statistics['Median'].map("{:,.2f}".format)
summary_statistics['Variance']=summary_statistics['Variance'].map("{:,.2f}".format)
summary_statistics['Standard Deviation']=summary_statistics['Standard Deviation'].map("{:,.2f}".format)
summary_statistics['SEM']=summary_statistics['SEM'].map("{:,.2f}".format)
summary_statistics

                   Mean     Median   Variance Standard Deviation       SEM
Drug Regimen
Capomulin     40.68 mm3  41.56 mm3  24.95 mm3           4.99 mm3  0.33 mm3
Ceftamin      52.59 mm3  51.78 mm3  39.29 mm3           6.27 mm3  0.47 mm3
Infubinol     52.88 mm3  51.82 mm3  43.13 mm3           6.57 mm3  0.49 mm3
Ketapril      55.24 mm3  53.70 mm3  68.55 mm3           8.28 mm3  0.60 mm3
Naftisol      54.33 mm3  52.51 mm3  66.17 mm3           8.13 mm3  0.60 mm3
Placebo       54.03 mm3  52.29 mm3  61.17 mm3           7.82 mm3  0.58 mm3
Propriva      52.32 mm3  50.85 mm3  42.35 mm3           6.51 mm3  0.51 mm3
Ramicane      40.22 mm3  40.67 mm3  23.49 mm3           4.85 mm3  0.32 mm3
Stelasyn      54.23 mm3  52.43 mm3  59.45 mm3           7.71 mm3  0.57 mm3
Zoniferol     53.24 mm3  51.82 mm3  48.53 mm3           6.97 mm3  0.52 mm3

## Bar plots

In [3]:
# Generate a bar plot showing number of data points for each treatment regimen using pandas

In [4]:
# Generate a bar plot showing number of data points for each treatment regimen using pyplot

## Pie plots

In [5]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [6]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, outliers and boxplots

In [7]:
# Calculate the final tumor volume of each mouse across four of the most promising treatment regimens. Calculate the IQR and quantitatively determine if there are any potential outliers.

In [8]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and scatter plots

In [9]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [10]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

In [11]:
# Calculate the correlation coefficient and linear regression model for mouse weight and average tumor volume for the Capomulin regimen